@require '../common.styl'
.day 
  fill: #fff;
  stroke: #e8e8e8;

.month
  fill: none;
  stroke: #000
  stroke-width: 2px;

.RdYlGn .q0-11
  fill:#FFEBEE
.RdYlGn .q1-11
  fill:#EF9A9A
.RdYlGn .q2-11
  fill:#EF5350
.RdYlGn .q3-11
  fill:#D32F2F
.RdYlGn .q4-11
  fill:#B71C1C
.RdYlGn .q5-11
  fill:#00BCD4
.RdYlGn .q6-11
  fill:#00ACC1
