body 
  font: 14px/150% "Helvetica Neue", "Lucida Grande", Verdana, sans-serif
  color: #666
  background: #F7F7F7
  padding: 0
  overflow: hidden

* 
  box-sizing: border-box
  -webkit-box-sizing: border-box

input,
textarea,
button 
  font: inherit
  
.no-animate 
  -webkit-transition: none !important;
  transition: none !important;
