<!-- ESPN MENU -->
<!-- <div class="espn-menu">
  <div class="header-wrapper">
    <header class="main-nav">
      <div class="main-nav-container">
        <a class="main-nav-mobile-trigger">
          <span class="icon">Span</span>
        </a>
        <h1 class="main-nav-title">
          <a class="logo" href="">Pete</a>
        </h1>
        <ul class="main-nav-list">
          <li class="main-nav-list-item"><a href="">Login</a> </li>
          <li class="main-nav-list-item"><a href="">Sign Up</a> </li>
        </ul>
      </div>
    </header> -->
<!--<nav class="sub-nav">
      <div class="sub-nav-container">
        <ul class="sub-nav-list">
          <li class="sub-nav-list-item">
            <a href="">
              <span>Kanye</span> 
            </a>
          <li class="sub-nav-list-item">
            <a href="">
              <span>Drake</span> 
            </a>
          </li>
          <li class="sub-nav-list-item">
            <a href="">
              <span>Weezy</span> 
            </a>
          </li>
        </ul>
      </div>
    </nav> -->
<!--     <nav class="sub-nav-scroll">
      <div class="sub-nav-scroll-container">
        <ul class="sub-nav-scroll-list">
          <li class="sub-nav-scroll-list-item first">
            <a href="">
              <span>Teams</span>
            </a>
          </li>
          <li ng-repeat="team in vm.teams" class="sub-nav-scroll-list-item">
            <a class="list-item" href="">
              <span>{{team.name_display_full}}</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div> -->

<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-show="vm.mobileService.isMobile" class="md-icon-button" aria-label="Menu" ng-click="vm.toggleLeft()">
      <i class="material-icons material-spec-icon" title="Show navigation">menu</i>
    </md-button>
    <h2>
      <span>MLB</span>
    </h2>
    <span flex></span>
    <md-button ng-if="vm.mobileService.isMobile" class="md-icon-button" aria-label="More" ng-click="vm.toggleRight()">
      <i class="material-icons material-spec-icon" title="Show navigation">menu</i>
    </md-button>
    <md-button ng-if="!vm.mobileService.isMobile" class="md-icon-button" aria-label="More" ng-click="vm.toggleSideDrawer()">
      <i class="material-icons material-spec-icon" title="Show navigation">menu</i>
    </md-button>
  </div>
</md-toolbar>

<md-sidenav 
    class="md-sidenav-left"
    md-component-id="left"
    md-whiteframe="4">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Sidenav Left</h1>
  </md-toolbar>
  <md-content layout-padding="">
    <form>
      <md-input-container>
        <label for="testInput">Test input</label>
        <input type="text" id="testInput" ng-model="data" md-autofocus="">
      </md-input-container>
    </form>
    <md-button ng-click="close()" class="md-primary">
      Close Sidenav Right
    </md-button>
  </md-content>
</md-sidenav>