@import url(http://fonts.googleapis.com/css?family=Roboto)

$primaryColor = #0277bd
$accentColor = #1de9b6
$bgColor = #efefef
$darkBgColor = #263238
$lightBgColor = #37474f
$lightTextColor = #9C9C9C
$darkTextColor = #212121
$highlightColor = #B00000

$border = 1px solid #ccc

body
  height 100%
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  font 62.5% 'Roboto', sans-serif
  padding: 0 10px
  
*, :after, :before 
  box-sizing: border-box
  -webkit-box-sizing: border-box

div, span, h1, h2, h3, h4, h5, h6, p, a, dl, dt, dd, ol, ul, li
  border: 0
  font: inherit
  font-size: 100%
  margin: 0
  padding: 0
  vertical-align: baseline
  
a
  background: transparent
  color: inherit
  text-decoration: none  

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary 
    display: block
  
    