<div ng-repeat="game in vm.games">
  <table class="linescore">
    <thead>
      <tr>
        <td></td>
        <td ng-repeat="linescore in game.linescore.inning | limitTo:-9">{{game.linescore.inning.length - (8 - $index)}}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="team">
          <div class="image-container">
            <img src="/static/images/mlb/{{game.away_team_id}}.svg">
          </div>
        </td>
        <td ng-repeat="linescore in game.linescore.inning | limitTo:-9">{{linescore.away}}</td>
      </tr>
      <tr>
        <td class="team">
          <div class="image-container">
            <img src="/static/images/mlb/{{game.home_team_id}}.svg">
          </div>
        </td>
        <td ng-repeat="linescore in game.linescore.inning | limitTo:-9">{{linescore.home}}</td>
      </tr>
    </tbody>
  </table>
</div>
